@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*Portada*/
.blog-container-cover{
    width: 100%;
    height: 450px;
    position: relative;
    margin-top: 80px;
    padding: 1px;
    background-image: url(../images/Adamspay/banner.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
}
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #28B463;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-wsp:hover{
 transform: scale(1.1);
 color: #28B463;
 background: white;
 text-decoration: none;
}
.btn-fk{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 100px;
    right: 30px;
    background: #3498DB;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-fk:hover{
 transform: scale(1.1);
 color: #3498DB;
 background: white;
 text-decoration: none;
}
.btn-ig{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 170px;
    right: 30px;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-ig:hover{
 transform: scale(1.1);
 color: #F39C12;
 background: white;
 text-decoration: none;
}

.logo{
    position: relative;
    width: 78px;
    border-radius:50px;
    opacity: 80%;
}

.ground{
    background-color: #EE0000;
    background-color: #EE0000;
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23FF0A0A' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fd931f' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23fa8a2f' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23f5823b' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23ef7a45' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23e7744d' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23de6e54' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23d4695a' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23c9655f' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23bd6262' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23b16065' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23a35d66' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23965b66' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23885964' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%237a5761' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%236d555d' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23605258' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23534F51' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    }

.cabecera{
    font-size: 25px;
    line-height: 19px;
    width: 190px; 
    height: 29px;
    padding-bottom: 40px;
    margin-top: 25px;
    color: whitesmoke;
    overflow: hidden;
}
ul{
    list-style: none;
    padding-left: 10px;
    margin: 0;
    
}
#anima{
    animation: cambiar 10s normal;
}
@keyframes cambiar {
    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -55px;
    }
    50%{margin-top: -55px;
}

    55%{margin-top: 0px;}
}
#carrito{
    background-color: none;
    fill: white;
    
}
#carrito:hover{
    transform: scale(1.1);
    
}
a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
#hover:hover{
    transform: scale(1.1);
}

li{
    font-family: 'Poppins', sans-serif;
}
a{
    font-family: 'Poppins', sans-serif;
}

#titulo{
    font-family: 'Poppins', sans-serif;
}

.container-info-cover, h1{
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.blog-container-cover{
    text-align: center;
}

.blog-container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(20, 200, 155, 0.1);
    position: absolute;
    top: 0;
    left: 0;
}
#btn-pago:hover{
    transform: scale(1.1);
}

.container-info-cover{
    max-width: 800px;
    height: 700px;
    margin: 90px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
button:hover{
    transform: scale(1.1);
}
button{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-family: 'Poppins', sans-serif;
}
/* .container-info-cover h1{
    font-style: inherit ;
    font-size: 40px;
    font-weight: 2000;
    color: darkgreen;
    margin-bottom: -60px;
    padding-left: 150px;
    font-family: 'Poppins', sans-serif;
    opacity: 60%;
} */

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

/*Contenedor de categorias*/

input[type="radio"]{
    display: none;
}

.container-category{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container-category label{
    color: white;
    padding: 6px 40px;
    margin: 10px;
    font-size: 20px;
    background: red;
    border-radius: 22px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.container-category label:hover{
    transform: scale(1.1);
    opacity: 0.8;
}



/*Post - Publicaciones*/

.container-post{
    max-width: 1200px;
    margin: auto;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    margin-top: 20px;
    padding: 20px;
}

.posts .post{
    background: #fff;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
}

.post .ctn-img{
    width: 100%;
}

.post .ctn-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post h2{
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 10px;
}

.post span{
    display: block;
    margin-top: 10px;
    padding: 0px 20px;
}

.ctn-tag{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
}

.ctn-tag li{
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
}


.post button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background-color: #D6B6A3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23cd9282' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23c46d62' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23bc4941' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23b32421' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: cornsilk;
    border: none;
    cursor: pointer;
    border-radius: 22px;
}

.post button:hover{
    opacity: 0.9;
}



/*sistema de filtrado*/

[value="TODOS"]:checked ~ .posts .post[data-category]{
    display: block;
}

[value="HTML"]:checked ~ .posts .post:not([data-category~="HTML"]),
[value="CSS"]:checked ~ .posts .post:not([data-category~="CSS"]),
[value="JS"]:checked ~ .posts .post:not([data-category~="JS"]),
[value="PHP"]:checked ~ .posts .post:not([data-category~="PHP"]),
[value="NODEJS"]:checked ~ .posts .post:not([data-category~="NODEJS"]),
[value="VUE"]:checked ~ .posts .post:not([data-category~="VUE"]){
    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="HTML"]:checked ~ .container-category [for="HTML"],
[value="CSS"]:checked ~ .container-category [for="CSS"],
[value="JS"]:checked ~ .container-category [for="JS"],
[value="PHP"]:checked ~ .container-category [for="PHP"],
[value="NODEJS"]:checked ~ .container-category [for="NODEJS"],
[value="VUE"]:checked ~ .container-category [for="VUE"]{
    background: #46a2fd;
    color: #fff;
}

@media screen and (max-width: 900px){
    .posts{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px) and (max-width: 990px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 991px){
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
}
