@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

main > .container{
    padding: 30px 0;
}
.cabecera{
    font-size: 25px;
    line-height: 19px;
    width: 190px; 
    height: 29px;
    padding-bottom: 40px;
    margin-top: 25px;
    color: whitesmoke;
    overflow: hidden;
}
a{
    font-family: 'Lobster', cursive;
}
#hover:hover{
    transform: scale(1.1);
}
ul{
    list-style: none;
    padding-left: 10px;
    margin: 0;
    
}
#anima{
    animation: cambiar 10s normal;
}
@keyframes cambiar {
    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -58px;
    transform:scale(1.05);}
    50%{margin-top: -58px;
    transform: scale(1.05);}

    55%{margin-top: 0px;}
}
#prod{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 10px 5px 5px gray;
}
#prod:hover{
    transform: scale(1.01);
    cursor: pointer;
}
/*Footer - pie de pagina*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #fff;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 100px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#carrito{
    fill: white;
}


.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover{
    background: #41579A;
    color: #fff;
}

footer .redes-footer .fa-twitter:hover{
    background: deepskyblue;
    color: #fff;
}

footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
}


.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}


.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}
#comprar:hover{
    background: orangered;

}
#agregarc:hover{
    background: orangered;
   
}
#banner1{
    width: 100%;
    height: 450px;
    position: relative;
    margin-top: 80px;
    padding: 1px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 80%;
}